/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: #393939;
  /* font-family: 'Indie Flower', cursive; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* navbar styling */
.navbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-right: 20px;
  align-items: baseline;
}

.link-nav {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  margin: 1rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

 #cart:hover {
  color:white;
  background-color: #0AAD0A;
 }

/* headlines */
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 250px;
  padding-top: 70px;
  font-size: 50px;
}

/* form styling/inputs */
form {
  /* padding-left: 200px; */
  width: 100%;
  height: 100%;
  justify-items: center;
  display: block;
}

body {
  background-image: url('https://img.huffingtonpost.com/asset/569d3cfc1a00002d00ab0c7d.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  min-width: 100vh;
}

/* button styling */
button {
  background-color: rgb(100, 46, 186);
  color: white;
  padding: 8px;
  border: pink 2px solid;
  border-radius: 6px;
}

#new-bt {
font-weight: bold;
border: pink 4px solid;
}

.card-bt {
  background-color: violet;
  color: white;
  margin-top: 5px;
  padding: 5px;
  border-radius: 6px;
  border: pink 3px solid;
  margin-left: 9px;
  font-size: 12px;
}

#delete-bt:hover {
 color: red;
 font-weight: bold;
}


.container {
  max-width: 500px;
  margin: 0 auto;
  margin-left: 200px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  position: absolute;
  
}

.mainContainer {
  background-color: white;
  border-radius: 30px;
  /* position; */
}
/*create produce card*/

.create {
  max-width: 400px;
  padding: left 50px;
  text-align: center;
  align-items: center;
  position:relative;
}

.create label {
  text-align: left;
  display: inline-block;
}

.create input,
.create select {
  width: 80%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  justify-content: center;
  display: inline-block;

}

/* styleing productList container(container for all the cards) */
.produceList-container {
  border: grey 2px solid;
  border-radius: 30px;
  padding: 25px;
  width: 100%;
  justify-items: center;

}

/*styling produce card*/
.pr-preview {
  background-color: #ffff88;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;
  width: 47%;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  
}


/* detail page styling */

.detail-page {
  font-size: large;
  background-color: white;
  /* border: 10px grey solid; */
  box-sizing: border-box;
}

#submit-bt {
  justify-items: end;
}